html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}
nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
nav li {
    margin: 0 .5rem;
}
body {
    font-family: sans-serif;
    color: #00008B;
    line-height: 1.5;
}
.heading {
    font-family: serif;
    text-align: center;
}
.main__heading {
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 2rem;
    max-width: 60%;
}
.button {
    color: white;
    font-weight: bold;
    background: #ff3f34;
    padding: .5rem 2rem;
    margin: 2rem auto 0;
    display: inline-block;
    text-decoration: none;
    box-shadow: 2px 2px 2px #c4c4c4;
    align-self: flex-start;
}
.button:hover {
    text-decoration: underline;
    box-shadow: 3px 3px 2px #d3d3d3;
}
.button:active {
    box-shadow: 1px 1px 1px #c4c4c4;
}
.header__heading {
    margin-bottom: .5rem;
}
.header__image {
    margin: 0 auto;
    max-height: 22rem;
    padding: 0 0 1rem;
}
.bodylink {
  text-decoration: none;
}
.bodylink:hover {
    color: #ff3f34;
    text-decoration: none;
}
.content {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}
.align {
    text-align: center;
}
.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}
.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}
.columns--three-col .image {
    order: -1;
    margin-bottom: 2rem;
}
.padding-vertical {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.nav-list--header {
    margin-top: 1rem;
    justify-content: center;
}
.nav-list a {
    display: inline-block;
    padding: 1rem;
}
.inverted {
    background: #113B08;
    color: white;
}
.invertedbg {
    background: #113B08;
    background-image: url("sea.jpg"); 
    background-size: cover;
    color: black;
}
.inverted .button {
    background: white;
    color: #ff3f34;
}
.inverted a {
    color: white;
}
.inverted .home-rule {
    background-color: white;
}
.emphasis {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-style: italic;
    font-family: serif;
    line-height: 1.4;
    text-align: center;
}
@media (min-width: 48rem) {
    .button {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 0;
    }
    .mobile-only {
        display: none;
    }
    .text-block {
        max-width: 60ch;
    }
    .columns--three-col .column {   
        flex-basis: 37ch;   
    }
    .columns--three-col .image {
        order: 0;
    }
    .columns {
        flex-direction: row;
    }
    .column {
        justify-content: flex-start;
    }
    .header .column-one {
        flex-basis: 40%;
    }
    .header .column-two {
        flex-basis: 60%;
    }
    .column.image {
        display: flex;
        justify-content: center;
    }
    .header__heading {
        text-align: left;
        font-size: 3rem;
    }
    .header__summary {
        text-align: left;
    }
    .nav-list--header {
        justify-content: flex-start;
    }
    .emphasis {
        text-align: left;
    }
}